main {
  max-width: 1200px;
  margin: 0 auto;
}
main > h1 {
  margin-top: 1.5rem;
  text-align: center;
}
#item-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: 0.5rem;
}
#item-form > div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

:is(#item-form input[type="text"], textarea, #item-form input[type="number"]) {
  font-size: 1.3rem;
  line-height: 1.2;
  border-radius: 7px;
  border: none;
  background-color: rgb(235, 235, 235);
  padding: 0.75rem;
}
:is(#item-form > div > label, .categories-title) {
  font-size: 1.3rem;
  font-weight: bold;
}
#item-form > button[type="submit"] {
  align-self: center;
  width: 100px;
  padding: 0.5rem 1.5rem;
}
#item-form > button[type="submit"]:hover {
  cursor: pointer;
}
.error-msg {
  color: var(--error-red);
}
