.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 15rem);
  justify-content: space-evenly;
  gap: 1rem;
}

.add-category-msg {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  margin-top: 1rem;
}
.add-category-msg > h2 {
  font-size: 3rem;
}
.add-category-msg > p {
  font-size: 1.5rem;
}
.add-category-link {
  color: var(--link-black, rgb(27, 27, 27));
}
.add-category-link:hover,
.add-category-link:focus {
  color: var(--link-gray, rgb(83, 82, 82));
}

.category-container > section {
}
