.category-details-page {
  max-width: 1200px;
  margin: 0 auto;
}
.category-details-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.category-title {
  font-size: 2rem;
}
.category-image {
  border-radius: 1.5rem;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}
.items-title {
  font-size: 1.5rem;
  margin: 1rem 0rem;
}
.books-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
}
.book-container {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.book-name {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}
.book-cover-img {
  object-fit: cover;
  max-height: 200px;
  width: 100%;
  border-radius: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .category-details-page {
    padding: 1rem;
  }
  .books-wrapper {
    grid-template-columns: 1fr;
  }
}
/* TABLET VERSION */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .category-details-page {
    padding: 1rem;
  }
  .books-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* DESKTOP VERSION */
@media only screen and (min-width: 980px) {
  .category-details-page {
    padding: 1rem;
  }
}
