@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
a {
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* css variables */
:root {
  --link-black: rgb(27, 27, 27);
  --link-gray: rgb(83, 82, 82);

  --error-red: rgb(224, 20, 20);
}

body {
  font-family: "Nunito", serif;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  backdrop-filter: blur(10px);
  margin-bottom: 1rem;
}
header {
  margin-top: 6rem;
}
.navbar > ul {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.navbar > ul > li {
  list-style: none;
  padding: 1rem;
  font-size: 1.5rem;
}
.navbar > ul > li > a:hover {
  text-decoration: underline;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: var(--link-black, rgb(27, 27, 27));
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .navbar > ul {
    flex-direction: column;
  }
  header {
    margin-top: 0rem;
  }
  .navbar {
    position: static;
  }
  .navbar > ul > li > a {
    text-align: center;
    display: block;
  }
}
/* TABLET VERSION */
@media only screen and (min-width: 768px) and (max-width: 979px) {
}
/* DESKTOP VERSION */
@media only screen and (min-width: 980px) {
}
