.book__wrapper {
  display: flex;
  max-width: 1200px;
  gap: 2rem;
  margin: 0 auto;
}
.book__img {
  flex-basis: 45%;
  max-width: 45%;
  border-radius: 1rem;
}
.book__information {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.book__category {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.book__category__link {
  background-color: #ddf4ff;
  color: #0969da;
  padding: 0.12rem 0.5rem;
  border-radius: 16px;
  text-decoration: none;
}
.book__category__link:focus,
.book__category__link:hover {
  cursor: pointer;
  background: #0969da;
  color: white;
}
.book__title {
  font-size: 2.5rem;
}
.book__price {
  font-size: 1.5rem;
  font-weight: 600;
}

:is(.book__pages-bold, .book__authors-bold, .book__releaseDate-bold) {
  font-weight: 800;
  font-size: 1.1rem;
}
.error-item-not-found {
  text-align: center;
  font-size: 2.5rem;
}

dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
dialog::backdrop {
  background-color: hsla(250, 85%, 87%, 0.5);
}
.modal__container {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .book__wrapper {
    padding: 1rem;
  }
  .book__wrapper {
    flex-direction: column;
  }
  .book__img {
    flex-basis: 100%;
    max-width: 100%;
  }
  .book__information {
    flex-basis: 100%;
  }
}
/* TABLET VERSION */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .book__wrapper {
    padding: 1rem;
  }
}
/* DESKTOP VERSION */
@media only screen and (min-width: 980px) {
  .book__wrapper {
    padding: 1rem;
  }
}
