<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/css-reset.css" />
    <link rel="stylesheet" href="../../public/styles/add-category-page.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%- include("../layout/navbar")%></header>
    <main>
      <h1>Create category</h1>
      <form
        id="add-book-category-form"
        action="/api/category/new"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="name-field">
          <label for="name">Name *:</label>
          <input
            type="text"
            name="categoryName"
            id="name"
            placeholder="Fantasy, Mystery, Thriller"
            minlength="1"
            maxlength="30"
            required
          />
          <p class="add-category-error-msg">
            <% if(locals.errors.length > 0){ %> <%locals.errors.forEach(item =>
            {%>
            <span>
              <%if(item.path==='categoryName'){%> <%= item.msg %> <%}%>
            </span>
            <%}); %> <%} %>
          </p>
        </div>
        <div class="description-field">
          <label for="description">Description *:</label>
          <textarea
            name="categoryDescription"
            id="description"
            cols="30"
            rows="10"
            required
          ></textarea>
        </div>
        <input
          type="file"
          name="categoryimg"
          accept="image/*"
          id="categoryimg"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
